 .paybutton
 {
    padding-top:33px;
    text-align:center;
 }

 .clienttable
 {
     /* border-top: 1px solid black; */
     padding-top: 10px;
 }

.mytext{
       resize:vertical;
}

.balamount{
 padding-left:2px;
}

.overallbal
{
    width: 25.666667%;
}

.overallDue
{
    width: 18.766667%;
}
.overlldue
{
    padding-left: 40px;
}

.paymentSummary{
 text-align: right;
 padding-left: 220px;
}